@charset "UTF-8";

/*
 CSS created with CSE HTML Validator
*/


    

body {
background: #F1E4B3;
}

p {
    font-size:14px;
    }
    

    
h1 {
    color: #133046;
    text-align: center;
    font-size: 40px;
    

}

h2 {
    color: #133046;
    font-size: 30px;
    }

img{
    border-style: double;
    color: #15959F;
}

table {
    border-style: groove;
    }

    
.move_image{
    position: relative;
    top: -60px;
    left: 27%;
    
    }
    
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }


    
#foot {
    text-align: center;
    }


nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}